<header class="action-bar">
	<a href="#" class="app-img action">
      <!--<i class="icon-fries"></i>-->
      <img src="img/cmoeiras.jpg" onclick="goBack()">
    </a>
    <h1 class="title"> &nbsp Bem Vindo <span id="utilizador"></span></h1>
		<ul class="actions pull-right">
      		<li><a href="#" class="action" title="Settings"><i class="icon-settings"></i></a></li>
    	</ul>
    </a>
</header>


<div class="content">
	<div id="DashBilheteira" class="row content animated fadeInUp">
		<div class="small-12 small-centered columns">
			<br>
			<fieldset>
				<legend>Escolha o módulo pretendido</legend>
				<br>
				<div class="row">
					<div class="small-12 columns"> 
						<!-- Content here -->
						<a href="#dashbilhetes" class="button large small-12 round">Bilheteira</a>
						<a href="#espacos" class="button large small-12 round">Mercado Municipal</a>
						<a href="#dashpolicia" class="button large small-12 round">Polícia Municipal</a>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<script>
	showUser();
</script>